# IMPORTANT - READ THIS BEFORE MODIFYING THIS FILE
# don't modify it :) your changes will be lost at the next update of this plugin
# instead 
# copy this file to <XPLANE folder>/Output/preferences
# and modify it as you wishes

# Uncomment the line below to make X-RAAS paint coordinate square all over
# your panel to help you figure out the correct X, Y, W, H and VOFF values
# for a new aircraft type.
# debug


####################################################################
### Zibo 2K & 4K models						                     ###
####################################################################

# X-Plane 12 Boeing 737-800X 2k
icao	B738
studio	Laminar%20Research%20modified%20by%20Zibo%20and%20Twkster
acf b738.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490

# X-Plane 12 Boeing 737-800X 4k
icao	B738
studio	Laminar%20Research%20modified%20by%20Zibo%20and%20Twkster
acf b738_4k.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490

####################################################################
### Level Up models						                     ###
####################################################################

# X-Plane 12 Boeing 737-600NG
icao	B736
acf 737_60NG.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490


# X-Plane 12 Boeing 737-700NG
icao	B737
acf 737_70NG.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490

# X-Plane 12 Boeing 737-800NG
icao	B738
acf 737_80NG.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490

# X-Plane 12 Boeing 737-900NG
icao	B739
acf 737_90NG.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490

# X-Plane 12 Boeing 737-900ER
icao	B739
acf 737_9ENG.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490

####################################################################
### XP12 default Models						                     ###
####################################################################

# X-Plane 12 default Boeing 737-800
icao	B738
studio	Laminar%20Research
acf	b738.acf
fontsz	24
bgalpha	0.3
nd	x 527	y 15	w 490	h 490
nd	x 527	y 505	w 490	h 490

# X-Plane 12 default MD-82
icao	MD82
studio	Laminar%20Research
acf	MD80.acf
fontsz	17
bgalpha	0.3
nd	x 259	y 576	w 270	h 204
